
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <h2>Sign Up</h2>
        <div class="box">

        </div>
    </section>
</div>
