
@{
    Layout = null;
}

<section class="content">
    <h2>Financial Manager</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <form ng-submit="CheckTranactionKey()">
                    <div class="box-header with-border">
                        <h3 class="box-title">Financial Transaction Form</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group has-feedback">
                            <input id="txtTransactionKey" ng-model="TransactionKey" type="password" class="form-control" placeholder="Transaction Key" name="TransactionKey" required>
                            <span class="form-control-feedback"><i class="fa fa-lock"></i></span>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i>
                            &nbsp;Submit
                        </button>
                    </div><!-- box-footer -->
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>
