
@{
    Layout = null;
}

<section class="content">
    <h2>Transaction History</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">

            </div><!-- /.box -->
        </div>
    </div>
</section>
