<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NetworkDataAccess.Properties.Settings.NetworkMarketingConnectionString"
            connectionString="Data Source=PUBUDU-PC\SQLEXPRESS;Initial Catalog=NetworkMaketing;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="NetworkDataAccess.Properties.Settings.NetworkMarketingConnectionString1"
            connectionString="Data Source=PUBUDU-PC\SQLEXPRESS;Initial Catalog=NetworkMaketing;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>